name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  rust-build:
    name: Rust
    runs-on: ubuntu-latest
    container: rust:1.92-trixie

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install System Dependencies
        run: |
          apt-get update
          apt-get install -y llvm-17 clang-17 libpolly-17-dev libc++-17-dev libc++abi-17-dev

      - name: Set Environment Variables
        run: |
          echo "LLVM_SYS_170_PREFIX=/usr/lib/llvm-17" >> $GITHUB_ENV
          echo "LLVM_CONFIG_PATH=/usr/bin/llvm-config-17" >> $GITHUB_ENV
          # CRITICAL: Forces linking against the LLVM C++ standard library (libc++)
          echo "RUSTFLAGS=-C link-arg=-lc++ -C link-arg=-L/usr/lib/llvm-17/lib" >> $GITHUB_ENV

      - name: Build VirtuC
        run: cargo build --release
