name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  rust-build:
    name: Rust
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          # Specify the LLVM version to install
          # https://github.com/KyleMayes/install-llvm-action/blob/v2/assets.json
          version: "20.1"
      - name: Run cargo build
        run: cargo build
      - name: Run cargo test
        run: cargo test
      - name: Run cargo clippy
        run: cargo clippy --no-deps
      - name: Run cargo doc
        run: cargo doc --no-deps
